@model IEnumerable<App.Data.Entities.CartDetails>
@using App.Data.Data;

@{
    ViewData["Title"] = "Index";

    decimal tongSotien = 0;
}



<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            tongSotien = tongSotien + (item.Product.Price * item.Quantity);


            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="col-12">
    <div class="row">
        <div class="col-3">Tổng thanh toán: @tongSotien </div>
        <div class="col-3 offset-6"><a class="btn btn-success" asp-action="ThanhToan">Pay</a></div>
        
    </div>
</div>
<hr />